.conteiner {
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header {
    display: flex;
    gap: 30px;
  }
  .Apppa{
    display: flex;
  }
 